body {
  font-family: Arial, sans-serif;
  background-color: #101820;
  color: #FFFFFF;
  padding: 20px;
}

header {
  background-color: #40B050;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #40B050;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #30A040;
}

nav {
  background-color: #304050;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

nav a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #405060;
}

nav .links {
  display: flex;
}

nav .links a {
  margin-right: 10px;
}

.search-bar {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
}

#pageList {
  margin-top: 20px;
  padding-left: 20px;
}

#pageList li {
  padding: 6px 0;
}

#pageList a:link {
  text-decoration: none;
  color: #FFE040;
}

#pageList a:hover {
  text-decoration: none;
  color: #FF8000;
}